.Trash-*
*~
*.log
.cllct
*.sw[a-p]
.DS_Store
*.d
*.o

#*.tar
#*.zip
#*.gz
#*.bz
#*.bz2
#*.rar
#libraries/RF24_gitbub

#*.hex

.lib
.dep
arduinodir
arduino-*

# Unpacked content from Annex 
Misc/usbasp
.htdignore


# TODO: cleanup

Misc/ESP8266/License
Misc/ESP8266/esp_iot_sdk_v0.9.5/
Misc/ESP8266/release_note.txt
Prototype/SensorNode/printf.h
Prototype/Serial/uart_irq/
hardware/adafruit/
hardware/attiny/avr/
libraries/Keypad/
libraries/LiquidCrystalCustomI2C/
libraries/LiquidCrystal_I2C
libraries/LiquidCrystal_old/
libraries/LiquidCrystal_v1.2.0.zip
libraries/hashmap/
libraries/keypad.zip

