.Trash-*
*~
*.log
.cllct
*.sw[a-p]
.DS_Store
*.d
*.o

#*.tar
#*.zip
#*.gz
#*.bz
#*.bz2
#*.rar

#*.hex

.lib
.dep
arduinodir
arduino-*

# Unpacked content from Annex 
Misc/usbasp
.htdignore

*.cuthd

# TODO: cleanup

Misc/ESP8266/License
Misc/ESP8266/esp_iot_sdk_v0.9.5/
Misc/ESP8266/release_note.txt
Misc/ESP8266/esp_iot_sdk_v0.9.5_15_01_23.zip
Prototype/Serial/uart_irq/
libraries/Keypad/
libraries/LiquidCrystalCustomI2C/
libraries/LiquidCrystal_I2C
libraries/LiquidCrystal_old/
libraries/LiquidCrystal_v1.2.0.zip
libraries/hashmap/
libraries/keypad.zip

build-*

log/last-*.rst
log/next-*.rst
log/friday.rst
log/monday.rst
log/saturday.rst
log/sunday.rst
log/thursday.rst
log/today.rst
log/tomorrow.rst
log/tuesday.rst
log/wednesday.rst
log/yesterday.rst
.build/
