.Trash-*
*~
*.log
.cllct
*.sw[a-p]
.DS_Store
*.d
*.o

#*.tar
#*.zip
#*.gz
#*.bz
#*.bz2
#*.rar
#libraries/RF24_gitbub

#*.hex

.lib
.dep
arduinodir
arduino-*

# Unpacked content from Annex 
Misc/usbasp
