#[submodule "libraries/TouchScreen"]
#	path = libraries/TouchScreen
#	url = git://github.com/practicalarduino/TouchScreen.git
#[submodule "TouchscreenCoordinates"]
#	path = TouchscreenCoordinates
#	url = git://github.com/practicalarduino/TouchscreenCoordinates.git
#[submodule "TouchControlPanel"]
#	path = TouchControlPanel
#	url = git://github.com/practicalarduino/TouchControlPanel.git
#[submodule "TouchControlPanelDisplay"]
#	path = TouchControlPanelDisplay
#	url = git://github.com/practicalarduino/TouchControlPanelDisplay.git
#[submodule "Ps2Keyboard"]
#	path = libraries/Ps2Keyboard
#	url = git://github.com/practicalarduino/Ps2Keyboard.git
#[submodule "VirtualUsbKeyboard"]
#	path = Misc/VirtualUsbKeyboard
#	url = git://github.com/practicalarduino/VirtualUsbKeyboard.git
[submodule "libraries/EmBencode"]
	path = libraries/EmBencode
	url = git@github.com:jcw/embencode.git
[submodule "libraries/JeeLib"]
	path = libraries/JeeLib
	url = git@github.com:jcw/jeelib.git
[submodule "libraries/RF24"]
	path = libraries/RF24
	url = git@github.com:maniacbug/RF24.git
[submodule "libraries/SPI"]
	path = libraries/SPI
	url = git@github.com:jscrane/SPI.git
[submodule "libraries/RF24Network"]
	path = libraries/RF24Network
	url = git@github.com:jscrane/RF24Network.git
[submodule "libraries/TFT_ILI9163C"]
	path = libraries/TFT_ILI9163C
	url = git@github.com:sumotoy/TFT_ILI9163C.git
[submodule "libraries/Adafruit_GFX"]
	path = libraries/Adafruit_GFX
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "libraries/TinyGPS++"]
	path = libraries/TinyGPS++
	url = git@github.com:mikalhart/TinyGPSPlus.git
[submodule "libraries/uart"]
	path = libraries/uart
	url = git@github.com:andygock/avr-uart.git
[submodule "libraries/twi"]
	path = libraries/twi
	url = git@github.com:RyanLowerr/twi-avr.git
[submodule "libraries/i2c"]
	path = libraries/i2c
	url = git@github.com:pietern/avr-i2c.git
[submodule "Misc/AVR-UART-Parse-example"]
	path = Misc/AVR-UART-Parse-example
	url = git@github.com:ColinBrosseau/AVR-UART-Parse-exemple.git
